<md-card-actions layout="row" layout-align="end center">
    <a href='javascriptt:;' ng-click='comentar()'> 23 Comentários</a>
</md-card-actions>
<md-card-actions layout="row" layout-align="center center">
    <md-button ng-click="comentar()">
        <md-icon>
            <i class="material-icons">insert_comment</i>
        </md-icon>
        <span hide-sm class="btn-action">Comentar</span>
    </md-button>

    <md-button ng-click="denunciar()">
        <md-icon>
            <i class="material-icons">email</i>
        </md-icon>
        <span hide-sm class="btn-action">Denunciar</span>
    </md-button>

    <md-button ng-click="compartilhar()">
        <md-icon>
            <i class="material-icons">share</i>
        </md-icon>
        <span hide-sm class="btn-action">Compartilhar</span>
    </md-button>
</md-card-actions>