<md-toolbar class="animate-show">
    <div class="md-toolbar-tools" layout='row' layout-align="end center">
        <span flex></span>
        <span ng-show="!!municipio" style="margin-right: 10px;"> 
            {{municipio.nome| limitTo: 10}}<span ng-if="municipio.nome.length > 10">...</span> - {{estado}}
        </span>
            <md-button ng-click="mostrarDialogLocalizacao()" style='min-width: 10px'>
                <md-icon>
                    <i class="material-icons" style="color:white">filter_list</i>
                </md-icon>
            </md-button>
            <md-button ng-click="mostrarDialogSobre()" style='min-width: 10px'>
                <md-icon>
                    <i class="material-icons" style="color:white">help_outline</i>
                </md-icon>
            </md-button>
        </div>
</md-toolbar>
