<div data-ng-init="init()">
    <md-content style="padding-top: 10px;background-color: rgb(220, 222, 227);">
        <md-tabs md-stretch-tabs="always" md-dynamic-height="" md-border-bottom="">
            <md-tab label="aba1">
                <md-tab-label>
                    <md-icon md-svg-src="assets/images/ic_dashboard_black_24px.svg"></md-icon>
                </md-tab-label>

                <md-content class="md-padding">
                    <div class="margin8">
                        <h4 class="titulohome">Áreas dos Proponentes</h4>
                    </div>

                    <div class="margin8" ng-if="estado && municipio && !erroArea">
                        <div layout="row" layout-align="center center" ng-if="!carregadoArea">
                            <md-progress-circular md-mode="indeterminate"/>
                        </div>

                        <span ng-if="carregadoArea && areasAtuacao.lista">
                            <b>Áreas de atuação dos proponentes com convênios em execução no município.</b>
                            <br>
                            Para mais detalhes, clique na área  que lhe interessar.
                        </span>
                        <span ng-if="carregadoArea && !areasAtuacao.lista">
                            Nenhuma área de atuação possui convênio em execução no município.
                        </span>

                        <ng-include src="'app/pages/home/home-filtro-area.html'" ng-if="carregadoArea"/>
                    </div>

                    <ng-include src="'app/pages/sem-conexao.html'" ng-if="erroArea"/>
                </md-content>
            </md-tab>

            <md-tab label="aba2">
                <md-tab-label>
                    <md-icon md-svg-src="assets/images/ic_star_black_24px.svg"></md-icon>
                </md-tab-label>

                <md-content class="">
                    <div class="margin8">
                        <h4 class="titulohome">Favoritos</h4>
                    </div>
                    
                    <div class="margin8">    
                        <span>
                            <b>Proponentes e convênios favoritados.</b>
                            <br>
                            Você receberá notificações quando pessoas comentarem esses proponentes e convênios, mas é possível desativar as notificações.
                        </span>
                    </div>
                    
                    <ng-include src="'app/pages/home/home-favoritos.html'" ng-if="carregadoOBs"/>
                </md-content>
            </md-tab>

            <md-tab label="aba3">
                <md-tab-label>
                    <svg style="width:24px; height:24px" viewBox="0 0 24 24">
                        <path fill="#000000" d="M20.2,2H19.5H18C17.1,2 16,3 16,4H8C8,3 6.9,2 6,2H4.5H3.8H2V11C2,12 3,13 4,13H6.2C6.6,15 7.9,16.7 11,17V19.1C8.8,19.3 8,20.4 8,21.7V22H16V21.7C16,20.4 15.2,19.3 13,19.1V17C16.1,16.7 17.4,15 17.8,13H20C21,13 22,12 22,11V2H20.2M4,11V4H6V6V11C5.1,11 4.3,11 4,11M20,11C19.7,11 18.9,11 18,11V6V4H20V11Z" />
                    </svg>
                </md-tab-label>

                <md-content class="">
                    <div class="margin8">
                        <h4 class="titulohome">Ranking</h4>
                    </div>

                    <div class="margin8">
                        <span>
                            <b>Lista dos "3 mais", relacionados a proponentes e convênios em execução.</b>
                        </span>
                    </div>

                    <ng-include src="'app/pages/home/home-ranking.html'"/>
                </md-content>
            </md-tab>

            <md-tab label="aba4">
                <md-tab-label>
                    <md-icon md-svg-src="assets/images/ic_credit_card_black_24px.svg"></md-icon>  
                </md-tab-label>

                <md-content class="">
                    <div class="margin8">
                        <h4 class="titulohome">Feeds Bancários</h4>
                    </div>

                    <div class="margin8" ng-if="!erroOBs">
                        <div layout="row" layout-align="center center" ng-if="!carregadoOBs">
                            <md-progress-circular md-mode="indeterminate"/>
                        </div>

                        <span ng-if="carregadoOBs">
                            <b>Últimos repasses recebidos e gastos dos convênios em execução.</b>
                            <br>
                            <i>*Por enquanto, só mostramos os repasses recebidos, mas no app final colocaremos os repasses e <b>os gastos dos convênios</b> também.</i>
                        </span>
                    </div>

                    <ng-include src="'app/pages/home/home-feeds-bancarios.html'" ng-if="carregadoOBs"/>
                    <ng-include src="'app/pages/sem-conexao.html'" ng-if="erroOBs"/>
                </md-content>
            </md-tab>
        </md-tabs>
    </md-content>
</div>
