<md-content style="padding-top: 10px; background-color: rgb(220, 222, 227);">
    <md-tabs md-stretch-tabs="always" md-dynamic-height="" md-border-bottom="">

        <md-tab label="Municipal">
            <span ng-if="!obsMunicipal">
                <br>
                Nenhum convênio em execução foi encontrado no município.
            </span>

            <md-card ng-repeat="item in obsMunicipal" ng-style="$index == 0? {'margin-top':'0px'} : false" style="padding-left: 8px; padding-right: 8px">
                <md-card-title>
                    <md-card-title-text>
                        <div layout="row" style='margin-top: 10px'> 
                            <div flex='90'>
                                <span class="md-subhead small-gray">{{item.data_ob| date: 'dd/MM/yyyy'}}</span>
                                <div flex></div>
                                <span class="md-subhead small-gray">Convênio nº: {{item.numero_interno_convenio}}</span>
                            </div>

                            <div flex='10'>
                                <md-button style='min-width: 10px;margin-top: 10px;margin-left: 0px;margin-right: 0px;'  ng-click="goGastos('/gastos', item)">
                                    <md-icon md-svg-src="assets/images/ic_search_gray_24px.svg"></md-icon>
                                </md-button>
                            </div>
                        </div>
                    </md-card-title-text>

                    <md-card-title-media>
                        <div class="md-media-sm card-media">
                            <p>
                                <b>{{item.nome_proponente | camelCase}}</b>
                                recebeu <b>{{item.valor_ob | currency}}</b>
                                para o convênio "{{item.objeto_convenio | primeiraMaiuscula | limitTo: 50}}<span ng-if="item.objeto_convenio.length > 50">...</span>".
                            </p>
                        </div>
                    </md-card-title-media>
                </md-card-title>
            </md-card>
        </md-tab>

        <md-tab label="Nacional">
            <span ng-if="!obsNacional">
                <br>
                Nenhum convênio em execução foi encontrado nos municípios do país.
            </span>
            <md-card ng-repeat="item in obsNacional" ng-style="$index==0?{'margin-top':'0px'}:false" style="padding-left: 8px;padding-right: 8px">
                <md-card-title>
                    <md-card-title-text>
                        <div layout="row" style='margin-top: 10px'> 
                            <div flex='90'>
                                <span class="md-subhead small-gray">{{item.data_ob | date: 'dd/MM/yyyy'}}</span>
                                <div flex></div>
                                <span class="md-subhead small-gray">Convênio nº: {{item.numero_interno_convenio}}</span>
                            </div>

                            <div flex='10'>
                                <md-button style='min-width: 10px;margin-top: 10px;margin-left: 0px;margin-right: 0px;'  ng-click="goGastos('/gastos', item)">
                                    <md-icon md-svg-src="assets/images/ic_search_gray_24px.svg"></md-icon>
                                </md-button>
                            </div>
                        </div>
                    </md-card-title-text>

                    <md-card-title-media>
                        <div class="md-media-sm card-media">
                            <p>
                                <b>{{item.nome_proponente | camelCase}}</b>
                                recebeu <b>{{item.valor_ob | currency}}</b>
                                para o convênio "{{item.objeto_convenio | primeiraMaiuscula | limitTo: 50}}<span ng-if="item.objeto_convenio.length > 50">...</span>".
                            </p>
                        </div>
                    </md-card-title-media>
                </md-card-title>
            </md-card>
        </md-tab>

    </md-tabs>
</md-content>
