<md-content style="padding-top: 10px; background-color: rgb(220, 222, 227);">
    <md-card ng-repeat="item in proponentesFavoritos" ng-style="$index == 0? {'margin-top':'-10px'} : false" style="padding-top: 10px; padding-left: 8px; padding-right: 8px">   
        <md-card-title>
            <md-card-title-text>
                <div layout="row" style='margin-top: 10px'> 
                    <div flex='80'>
                        <p class="titulo">{{item.nome | camelCase}}</p>
                    </div>

                    <div flex='10'>
                        <div style="min-width: 10px; margin-top: 15px; margin-left: 0px; margin-right: 0px;">
                            <i class="material-icons" ng-click="desfavoritarProponente(item)" style="{{item.corEstrela}} outline: none;">star</i>
                        </div>
                    </div>

                    <div flex='10'>
                        <md-button style='min-width: 10px; margin-top: 10px; margin-left: 0px; margin-right: 0px;' ng-click="goConveniosFavoritos('/convenios', item)">
                            <md-icon>
                                <i class="material-icons">search</i>
                            </md-icon>
                        </md-button>
                    </div>
                </div>

                <div layout="row"> 
                    <p class="smallT">{{item.natureza_juridica | camelCase}}</p>
                </div>
            </md-card-title-text>

            <md-card-title-media>
                <div layout="column" class="md-media-sm card-media" style='margin-top: -10px'>
                    <div class='margin8'>
                        <p>Possui <b>{{item.total_convenios}} convênio<span ng-hide="item.total_convenios == '1'">s</span></b> em execução que somam <b>{{item.total_global| currency}}</b>.<span ng-if="item.area[0].descricao != 'Sem area'"><br> Atua na<span ng-show="item.area.length > 1">s</span> área<span ng-show="item.area.length > 1">s</span> de 
                                <span ng-repeat="area in item.area">
                                    <b>{{area.descricao| camelCase}}</b>{{(($index + 1) == (item.area.length - 1))?" e ":($index < (item.area.length - 1))?",":""}}</span>.
                        </p></span>
                    </div>

                    <hr style="margin-top: 0px;">

                    <md-button class='infoprop' ng-href="tel:{{item.telefone}}" target="_blank">
                        <md-icon md-svg-src="assets/images/ic_phone_gray_24px.svg"></md-icon>
                        {{item.telefone}} 
                    </md-button>

                    <md-button  class='infoprop' ng-href="https://www.google.com/maps/search/{{item.endereco}}" target="_blank" style='margin-top: -10px'>
                        <md-icon md-svg-src="assets/images/ic_location_on_gray_24px.svg"></md-icon>
                        {{item.endereco}}
                    </md-button>
                </div>
            </md-card-title-media>
        </md-card-title>

        <div ng-include="'app/shared/md-card-action.html'"></div>
    </md-card>
</md-content>
