<md-content style="padding-top: 10px;background-color: rgb(220, 222, 227);">
    <md-tabs md-stretch-tabs="always" md-dynamic-height="" md-border-bottom="">

        <md-tab label="Proponentes">
            <div ng-if="!proponentesFavoritos.length" class='margin8'>
                <b>Você não tem nenhum proponente favoritado ainda.</b>
                <br><br>
                Para favoritar um proponente, escolha uma área de atuação na aba anterior. Veja os seus proponentes. 
                <br>
                <b>Clique na estrelinha dos que lhe interessar. :)</b>
            </div>

            <ng-include src="'app/pages/home/home-favoritos-proponentes.html'" ng-if="proponentesFavoritos.length"/>
        </md-tab>

        <md-tab label="Convênios">
            <div ng-if="!conveniosFavoritos.length" class="margin8">
                <b>Você não tem nenhum convênio favoritado ainda.</b>
                <br><br>
                Para favoritar um convênio, escolha uma área de atuação na aba anterior. Em seguida, clique na lupinha de um proponente e veja os seus convênios. 
                <br>
                <b>Clique na estrelinha dos que lhe interessar. :)</b>
            </div>

            <ng-include src="'app/pages/home/home-favoritos-convenios.html'" ng-if="conveniosFavoritos.length"/>
        </md-tab>

    </md-tabs>
</md-content>
